

<html>
<head>
    <title></title>
    <link href="~/css/enlace.css" rel="stylesheet" />
</head>
<body>
    
        <div class="vinculo">
            <a href="http://www.incaa.gov.ar/catalogos"><img src="~/img/enlaces/Imagen1.png" alt=""></a>
        </div>

        <div class="vinculo1">
            <a href="https://doblaje.fandom.com/es/wiki/Categor%C3%ADa:Pel%C3%ADculas_de_Universal_Studios"><img src="~/img/enlaces/Imagen2.png" alt="">    </a>
        </div>

        <div class="vinculo2">

            <a href="https://www.marvel.com/movies"><img src="~/img/enlaces/Imagen3.png" alt=""></a>
        </div>
    
</body>
</html>


