.vinculo img {
    display: inline-block;
    width: 30%;
    height: 20%;
    margin-left: 35%;
    margin-top:12%;
}

.vinculo1 img {
    display: inline-block;
    width: 30%;
    height: 3%;
    margin-left: 35%;
}

.vinculo2 img {
    display: inline-block;
    width: 30%;
    height: 10%;
    margin-left: 35%;
}
